apiVersion: charts.ibm.com/v1alpha1
kind: CoreDumpHandler
metadata:
  name: coredumphandler-sample
  namespace: core-dump-handler
spec:
  serviceAccount: core-dump-operator-uploader-sa # Uploader requires a service account with a secret and namespace reader role (see `config/rbac/uploader_sa_rbac.yaml`).
  namespaceLabelSelector:
    "core-dump-handler": "enabled"
  openShift: true
